.window {
    --border-color: rgb(0, 0, 0, .1);
    --label-color: rgb(132, 132, 132);
}

.explorer-content {
    display: flex;
    height: -webkit-fill-available;
    overflow: hidden;
}

.explorer-viewer-container {
    overflow: auto;
    max-height: -webkit-fill-available;
    width: -webkit-fill-available;
    border-radius: .5rem;
}

.explorer-viewer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem;
    padding: 1rem;
    opacity: 0;
    transform: translateY(1rem);
    overflow: auto;
}

.explorer-viewer[data-direction="horizontal"] {
    opacity: 0;
    transform: translateX(-1rem);
}

.explorer-viewer.animation {
    opacity: 1;
    transform: translateY(0);
    animation: show-viewer 200ms ease-in-out 1 forwards;
}

.explorer-viewer[data-direction="horizontal"] {
    opacity: 1;
    transform: translateX(0);
    animation: show-viewer-horizontal 200ms ease-in-out 1 forwards;
}

.explorer-viewer * {
    transition: all .1s ease-in-out;
}

.explorer-viewer-item {
    width: 6rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    /* max-height: 8rem; */
    overflow: hidden;
    padding: .5rem;
    cursor: default;
    border-radius: .5rem;
    user-select: none;
    -webkit-user-select: none;
    gap: .25rem;
}

.explorer-viewer-item:hover {
    background: rgb(244 244 244);
}

.explorer-viewer-item-icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 4rem;
    height: 4rem;
    min-height: 4rem;
    min-width: 4rem;
}

.explorer-viewer-item-name {
    width: 90%;
    max-width: 90%;
    text-align: center;
    overflow: hidden;
    max-height: 4rem;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    box-sizing: border-box;
    word-break: break-word;
    font-size: .875rem;
}

@keyframes show-viewer {
    0% {
        opacity: 0;
        transform: translateY(1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes show-viewer-horizontal {
    0% {
        opacity: 0;
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes show-tab {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.explorer-pathstrip {
    background: rgb(249, 249, 249);
    height: 3rem;
    min-height: 3rem;
    width: 100%;
    border-bottom: 1.5px solid var(--border-color);
    padding: .5rem;
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.explorer-pathstrip-action {
    width: 2rem;
    height: 2rem;
    min-width: 1.5rem;
    min-height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .375rem;
    border: 0;
    background: none;
    -webkit-user-drag: none;
}

.explorer-pathstrip-actions {
    display: flex;
    height: -webkit-fill-available;
    align-items: center;
    gap: .75rem;
    padding: 0 .5rem;
}

.explorer-pathstrip-action::before {
    width: 1.25rem;
    height: 1.25rem;
    content: '';
    display: block;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: cover;
    background: #000;
}

.explorer-pathstrip-action:hover {
    background: rgb(236, 236, 236);
}

.explorer-pathstrip-action.back::before {
    mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWFycm93LWxlZnQiPjxwYXRoIGQ9Im0xMiAxOS03LTcgNy03Ii8+PHBhdGggZD0iTTE5IDEySDUiLz48L3N2Zz4=);
}

.explorer-pathstrip-action.next::before {
    mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWFycm93LXJpZ2h0Ij48cGF0aCBkPSJNNSAxMmgxNCIvPjxwYXRoIGQ9Im0xMiA1IDcgNy03IDciLz48L3N2Zz4=);
}

.explorer-pathstrip-action.up::before {
    mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWFycm93LXVwIj48cGF0aCBkPSJtNSAxMiA3LTcgNyA3Ii8+PHBhdGggZD0iTTEyIDE5VjUiLz48L3N2Zz4=);
}

.explorer-pathstrip-action.refresh::before {
    mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXJvdGF0ZS1jdyI+PHBhdGggZD0iTTIxIDEyYTkgOSAwIDEgMS05LTljMi41MiAwIDQuOTMgMSA2Ljc0IDIuNzRMMjEgOCIvPjxwYXRoIGQ9Ik0yMSAzdjVoLTUiLz48L3N2Zz4=);
    width: 1.125rem;
    height: 1.125rem;
}

.explorer-pathstrip-path {
    background: rgb(233, 233, 233);
    width: -webkit-fill-available;
    height: 2rem;
    border-radius: .375rem;
    display: flex;
    align-items: center;
    padding: 0 .75rem;
    overflow: hidden;
}

.explorer-pathstrip-path-text {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.explorer-pathstrip-search {
    background: rgb(233, 233, 233);
    min-width: 12rem;
    border-radius: 999px;
    border: 0;
    padding: .5rem .75rem;
    outline: 0;
    width: -webkit-fill-available;
    font-size: .925rem;
}

.explorer-pathstrip-action:disabled,
.explorer-pathstrip-action.disabled {
    opacity: .5;
    pointer-events: none;
}

.explorer-sidebar-item-icon {
    width: 1rem;
    height: 1rem;
    min-width: 1rem;
    min-height: 1rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.explorer-sidebar-item-header {
    font-size: .875rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    -webkit-user-select: none;
}

.explorer-content-iframe {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    display: block;
    border: 0;
}

.explorer-content-viewer {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    width: -webkit-fill-available;
}

.explorer-content-viewer-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.explorer-content-viewer-list {
    padding-top: .5rem;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    overflow: auto;
}

.edge-file-item {
    cursor: pointer;
    display: flex;
    gap: .5rem;
    border-radius: .25rem;
    padding: .25rem 1rem;
    align-items: center;
}

.edge-file-item:hover {
    background: rgb(237 237 237);
}

.edge-file-item-icon {
    width: 1.25rem;
    height: 1.25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 1.25rem;
    min-height: 1.25rem;
}

.edge-file-item-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .875rem;
}

.explorer-content-edgepages {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

[data-theme="dark"] {
    background: rgb(18, 18, 18);
}

[data-theme="dark"] .tabview-tabstrip-tab.active {
    --bg: rgb(51, 51, 51);
}

[data-theme="dark"] .tabview-tabstrip-tab:not(.active):hover {
    --bg: rgb(255 255 255 / 10%);
}

[data-theme="dark"] .tabview-tabstrip-tab-close::before,
[data-theme="dark"] .tabview-tabstrip-create-button::before,
[data-theme="dark"] .explorer-pathstrip-action::before {
    background: #fff;
}

[data-theme="dark"] .tabview-tabstrip-create-button:hover {
    background: rgb(255 255 255 / 10%);
}

[data-theme="dark"] .tabview-tabstrip-tab-close:hover {
    background: rgb(185 185 185 / 11%);
}

[data-theme="dark"] .tabview-tabstrip-tab.active .tabview-tabstrip-tab-close:hover {
    background: rgb(255 255 255 / 9%);
}

[data-theme="dark"] .explorer-pathstrip-action:hover {
    background: rgb(236 236 236 / 10%);
}

[data-theme="dark"] .explorer-pathstrip {
    background: rgb(51, 51, 51);
}

[data-theme="dark"] .explorer-pathstrip-search {
    background: rgb(42, 42, 42);
    color: #fff;
}

[data-theme="dark"] .tabview-item {
    background: rgb(51, 51, 51);
}

[data-theme="dark"] .edge-file-item:hover {
    background: rgb(67 67 67);
}