.sidebar-container {
    width: 18rem;
    height: 100%;
    overflow: hidden;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
    height: 100%;
}

.account {
    display: flex;
    gap: .75rem;
    padding: .5rem .75rem;
    border-radius: .5rem;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    align-items: center;
}

.account-avatar {
    width: 3rem;
    height: 3rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    border: 1.5px solid rgba(0,0,0,.1);
}

.account-info {
    height: fit-content;
}

.account-name {
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--winbows-text-color);
}

.account-email {
    font-size: .875rem;
    font-weight: 400;
    color: var(--winbows-text-color);
}

.search {
    background: #fff;
    border-bottom: 2px solid rgba(0, 0, 0, .2);
    border-radius: .375rem;
    position: relative;
    height: 2rem;
    min-height: 2rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: all .1s ease-in-out;
}

.search.focused {
    border-bottom: 2px solid var(--winbows-primary-color);
}

.search-input {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    position: absolute;
    padding: 0 .625rem;
    border: 0;
    outline: 0;
}

.search-button {
    margin-left: auto;
    position: absolute;
    right: .25rem;
    z-index: 1;
    width: 2rem;
    border: 0;
    outline: 0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - .5rem);
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.search-button:hover {
    background: rgba(0, 0, 0, .05);
}

.search-icon {
    width: .75rem;
    height: .75rem;
}

.page-list-container {
    height: -webkit-fill-available;
    overflow: hidden;
}

.page-list {
    display: flex;
    flex-direction: column;
    gap: .375rem;
    max-height: -webkit-fill-available;
    overflow: auto;
}

.page-item {
    display: flex;
    gap: .5rem;
    padding: .375rem .75rem;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    border-radius: .375rem;
}

.page-item.active {
    background-color: rgba(0, 0, 0, 0.06);
}

.account:hover,
.page-item:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.page-icon {
    width: 1.25rem;
    height: 1.25rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 1.25rem;
}

.page-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}