.window * {
    transition: all .1s ease-in-out;
}

.window {
    width: 640px;
    height: 450px;
}

.window-toolbar {
    /*
    backdrop-filter: blur(120px) saturate(1.5);
    background: rgba(235, 235, 235, .7);
    */
    background: rgb(233, 233, 233);
}

.window-content {
    overflow: hidden;
    -webkit-user-drag: none;
    flex-direction: column;
    display: flex;
}

.explorer-footer {
    min-height: fit-content;
    padding: 1rem 1.25rem;
    width: -webkit-fill-available;
    border-top: 1.5px solid var(--border-color);
    display: flex;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    flex-direction: row;
}

.explorer-footer-left {
    height: -webkit-fill-available;
    padding: 0 .75rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: .5rem;
}

.explorer-footer-page-items {
    font-size: .825rem;
    line-height: 1;
}

.explorer-footer-page-size {
    font-size: .825rem;
    line-height: 1;
}

.explorer-footer-selected-items {}

.explorer-footer-right {}

.explorer-footer-button-group {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.explorer-footer-button {
    padding: .375rem .875rem;
    border: none;
    border-radius: .375rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.explorer-footer-button.cancel {}

.explorer-footer-button.confirm {
    background: var(--winbows-primary-color);
    color: #fff;
}

[data-theme="dark"] .explorer-footer-button.confirm {
    color: #000;
}

.window-toolbar,
.explorer-pathstrip {
    background: rgb(233, 233, 233);
}

[data-theme="dark"] .window-toolbar,
[data-theme="dark"] .explorer-pathstrip {
    background: rgb(36, 36, 36);
}