.window * {
    transition: all .1s ease-in-out;
}

.window-toolbar {
    backdrop-filter: blur(120px) saturate(1.5);
    background: rgba(235, 235, 235, .7);
}

.window-content {
    overflow: hidden;
    -webkit-user-drag: none;
    flex-direction: column;
    display: flex;
}

.tabview {
    display: block;
    overflow: hidden;
    -webkit-user-drag: none;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.tabview-item {
    display: none;
    overflow: hidden;
    -webkit-user-drag: none;
    flex-direction: column;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background: #fff;
}

.tabview-item.active {
    display: flex;
}

.window {
    --border-color: rgb(0, 0, 0, .1);
    --label-color: rgb(132, 132, 132);
}

.winui ::-webkit-scrollbar,
.winui-light ::-webkit-scrollbar,
[data-theme="dark"] .winui ::-webkit-scrollbar,
.winui-dark ::-webkit-scrollbar {
    width: 14px;
    height: 14px;
    border-radius: 7px
}

.winui ::-webkit-scrollbar,
.winui-light ::-webkit-scrollbar {
    --scroll: rgb(255 255 255 / 80%);
    --scrollbar-top-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.102 16.981c-1.074 0-1.648-1.265-.941-2.073l5.522-6.311a1.75 1.75 0 0 1 2.634 0l5.522 6.311c.707.808.133 2.073-.941 2.073H6.102z' fill='rgb(0 0 0 / 50%)'/%3E%3C/svg%3E");
    --scrollbar-right-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 17.898c0 1.074 1.265 1.648 2.073.941l6.311-5.522a1.75 1.75 0 0 0 0-2.634l-6.311-5.522C10.265 4.454 9 5.028 9 6.102v11.796z' fill='rgb(0 0 0 / 50%)'/%3E%3C/svg%3E");
    --scrollbar-bottom-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.102 8c-1.074 0-1.648 1.265-.941 2.073l5.522 6.311a1.75 1.75 0 0 0 2.634 0l5.522-6.311c.707-.808.133-2.073-.941-2.073H6.102z' fill='rgb(0 0 0 / 50%)'/%3E%3C/svg%3E");
    --scrollbar-left-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M15 17.898c0 1.074-1.265 1.648-2.073.941l-6.311-5.522a1.75 1.75 0 0 1 0-2.634l6.311-5.522c.808-.707 2.073-.133 2.073.941v11.796z' fill='rgb(0 0 0 / 50%)'/%3E%3C/svg%3E");
}

[data-theme="dark"] .winui ::-webkit-scrollbar,
.winui-dark ::-webkit-scrollbar {
    --scroll: rgb(44 44 44 / 25%);
    --scrollbar-top-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.102 16.981c-1.074 0-1.648-1.265-.941-2.073l5.522-6.311a1.75 1.75 0 0 1 2.634 0l5.522 6.311c.707.808.133 2.073-.941 2.073H6.102z' fill='rgb(255 255 255 / 50%)'/%3E%3C/svg%3E");
    --scrollbar-right-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 17.898c0 1.074 1.265 1.648 2.073.941l6.311-5.522a1.75 1.75 0 0 0 0-2.634l-6.311-5.522C10.265 4.454 9 5.028 9 6.102v11.796z' fill='rgb(255 255 255 / 50%)'/%3E%3C/svg%3E");
    --scrollbar-bottom-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.102 8c-1.074 0-1.648 1.265-.941 2.073l5.522 6.311a1.75 1.75 0 0 0 2.634 0l5.522-6.311c.707-.808.133-2.073-.941-2.073H6.102z' fill='rgb(255 255 255 / 50%)'/%3E%3C/svg%3E");
    --scrollbar-left-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M15 17.898c0 1.074-1.265 1.648-2.073.941l-6.311-5.522a1.75 1.75 0 0 1 0-2.634l6.311-5.522c.808-.707 2.073-.133 2.073.941v11.796z' fill='rgb(255 255 255 / 50%)'/%3E%3C/svg%3E")
}

.winui ::-webkit-scrollbar:vertical:hover,
.winui-light ::-webkit-scrollbar:vertical:hover,
.winui-dark ::-webkit-scrollbar:vertical:hover {
    background: var(--scrollbar-bottom-btn) 0% calc(100% - 3px)/contain no-repeat, var(--scrollbar-top-btn) 0% calc(0% + 3px)/contain no-repeat, var(--scroll);
}

.winui ::-webkit-scrollbar:horizontal:hover,
.winui-light ::-webkit-scrollbar:horizontal:hover,
.winui-dark ::-webkit-scrollbar:horizontal:hover {
    background: var(--scrollbar-right-btn) calc(100% - 3px) 0%/contain no-repeat, var(--scrollbar-left-btn) calc(0% + 3px) 0%/contain no-repeat, var(--scroll);
}

.winui ::-webkit-scrollbar-thumb,
.winui-light ::-webkit-scrollbar-thumb {
    display: none;
    display: block;
    background: rgba(0, 0, 0, .5);
    background-clip: padding-box;
    border: 6px solid transparent;
    border-radius: 14px
}

[data-theme=dark] .winui ::-webkit-scrollbar-thumb,
.winui-dark ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .5);
    background-clip: padding-box;
    border: 6px solid transparent;
}

.winui ::-webkit-scrollbar-thumb:hover,
.winui-dark ::-webkit-scrollbar-thumb:hover,
.winui-light ::-webkit-scrollbar-thumb:hover {
    border: 4px solid transparent;
    background-clip: padding-box;
}

.winui ::-webkit-scrollbar-button:single-button,
.winui-dark ::-webkit-scrollbar-button:single-button,
.winui-light ::-webkit-scrollbar-button:single-button {
    height: 14px;
}

.winui :hover::-webkit-scrollbar-thumb,
.winui-dark :hover::-webkit-scrollbar-thumb,
.winui-light :hover::-webkit-scrollbar-thumb {
    display: block;
}

.explorer-viewer-container {
    overflow: auto;
    max-height: -webkit-fill-available;
    width: -webkit-fill-available;
    border-radius: .5rem;
}

.explorer-viewer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem;
    padding: 1rem;
    opacity: 0;
    transform: translateY(1rem);
    overflow: auto;
}

.explorer-viewer[data-direction="horizontal"] {
    opacity: 0;
    transform: translateX(-1rem);
}

.explorer-viewer.animation {
    opacity: 1;
    transform: translateY(0);
    animation: show-viewer 200ms ease-in-out 1 forwards;
}

.explorer-viewer[data-direction="horizontal"] {
    opacity: 1;
    transform: translateX(0);
    animation: show-viewer-horizontal 200ms ease-in-out 1 forwards;
}

.explorer-viewer * {
    transition: all .1s ease-in-out;
}

.explorer-viewer-item {
    width: 6rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    /* max-height: 8rem; */
    overflow: hidden;
    padding: .5rem;
    cursor: default;
    border-radius: .5rem;
    user-select: none;
    -webkit-user-select: none;
    gap: .25rem;
}

.explorer-viewer-item:hover {
    background: rgb(244 244 244);
}

.explorer-viewer-item-icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 4rem;
    height: 4rem;
    min-height: 4rem;
    min-width: 4rem;
}

.explorer-viewer-item-name {
    width: 90%;
    max-width: 90%;
    text-align: center;
    overflow: hidden;
    max-height: 4rem;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    box-sizing: border-box;
    word-break: break-word;
    font-size: .875rem;
}

@keyframes show-viewer {
    0% {
        opacity: 0;
        transform: translateY(1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes show-viewer-horizontal {
    0% {
        opacity: 0;
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes show-tab {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.explorer-tabstrip {
    width: -webkit-fill-available;
    height: fit-content;
    min-height: fit-content;
    padding: .375rem;
    padding-right: 2.5rem;
    padding-bottom: 0;
    opacity: 0;
    transform: translateY(1rem);
    animation: show-tab 200ms ease-in-out 1 forwards;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.explorer-tabstrip-tabs {
    height: -webkit-fill-available;
    max-width: calc(100% - 2.875rem);
    display: flex;
    gap: .5rem;
    overflow: visible;
}

.explorer-tabstrip-tab {
    --radius: .375rem;
    --bg: rgba(0, 0, 0, 0);
    position: relative;
    width: 15rem;
    height: 2.125rem;
    background: none;
    border-radius: var(--radius) var(--radius) 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .5rem;
    gap: .25rem;
    flex: 1;
    min-width: 0;
    max-width: -webkit-fill-available;
}

.explorer-tabstrip-tab.active {
    --bg: rgb(249 249 249);
    z-index: 9;
}

.explorer-tabstrip-tab:not(.active):hover {
    --bg: rgb(255 255 255 / 50%);
    background: var(--bg);
}

.explorer-tabstrip-tab:not(.active) {
    /* height: 1.75rem; */
    /* border-radius: var(--radius); */
}

.explorer-tabstrip-tab:not(.active, :hover)+.explorer-tabstrip-tab:not(.active, :hover)::before {
    content: '';
    position: absolute;
    left: 0;
    width: 1.25px;
    height: calc(100% - .75rem);
    background: var(--border-color);
    transform: translateX(-.25rem);
    pointer-events: none;
}

.explorer-tabstrip-tab:last-child:not(.active, :hover)::after {
    content: '';
    position: absolute;
    right: 0;
    width: 1.25px;
    height: calc(100% - .75rem);
    background: var(--border-color);
    transform: translateX(.25rem);
    pointer-events: none;
}

.explorer-tabstrip-tab.active::before,
.explorer-tabstrip-tab.active::after,
.explorer-tabstrip-tab:hover::before,
.explorer-tabstrip-tab:hover::after {
    position: absolute;
    width: var(--radius);
    height: var(--radius);
    background: var(--bg);
    content: '';
    bottom: 0;
}

.explorer-tabstrip-tab.active {
    background-color: var(--bg);
    overflow: visible;
}

.explorer-tabstrip-tab.active::after,
.explorer-tabstrip-tab:hover::after {
    transform: translateX(100%);
    right: 0;
    background: radial-gradient(at 100% 0%, transparent var(--radius), var(--bg) 0);
}

.explorer-tabstrip-tab.active::before,
.explorer-tabstrip-tab:hover::before {
    transform: translateX(-100%);
    left: 0;
    background: radial-gradient(at 0% 0%, transparent var(--radius), var(--bg) 0);
}

.explorer-tabstrip-tab-info {
    display: flex;
    gap: .5rem;
    padding-bottom: .125rem;
    overflow: hidden;
    max-width: -webkit-fill-available;
}

.explorer-tabstrip-tab-icon {
    width: 1.25rem;
    height: 1.25rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 1.25rem;
    min-height: 1.25rem;
}

.explorer-tabstrip-tab-header {
    font-size: .875rem;
    height: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.explorer-tabstrip-tab-close {
    padding: .25rem .375rem;
    border-radius: .25rem;
}

.explorer-tabstrip-tab-close:hover {
    background: rgb(185 185 185 / 40%);
}

.explorer-tabstrip-tab.active .explorer-tabstrip-tab-close:hover {
    background: rgb(233, 233, 233);
}

.explorer-tabstrip-tab-close::before {
    content: '';
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXgiPjxwYXRoIGQ9Ik0xOCA2IDYgMTgiLz48cGF0aCBkPSJtNiA2IDEyIDEyIi8+PC9zdmc+);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: .875rem;
    height: .875rem;
}

.explorer-tabstrip-create {
    padding: .75rem .5rem;
    overflow: hidden;
    display: block;
    height: 2.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2.875rem;
    /* flex: 1; */
}

.explorer-tabstrip-create-button {
    height: 1.425rem;
    width: 1.875rem;
    border: 0;
    border-radius: .25rem;
    background: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.explorer-tabstrip-create-button:hover {
    background: rgba(255, 255, 255, .5);
}

.explorer-tabstrip-create-button::before {
    content: '';
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgY2xhc3M9Imx1Y2lkZSBsdWNpZGUtcGx1cyI+PHBhdGggZD0iTTUgMTJoMTQiLz48cGF0aCBkPSJNMTIgNXYxNCIvPjwvc3ZnPg==);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: .925rem;
    height: .925rem;
    display: block;
}

.explorer-pathstrip {
    background: rgb(249, 249, 249);
    height: 3rem;
    min-height: 3rem;
    width: 100%;
    border-bottom: 1.5px solid var(--border-color);
    padding: .5rem;
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.explorer-pathstrip-action {
    width: 2rem;
    height: 2rem;
    min-width: 1.5rem;
    min-height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .375rem;
    border: 0;
    background: none;
    -webkit-user-drag: none;
}

.explorer-pathstrip-actions {
    display: flex;
    height: -webkit-fill-available;
    align-items: center;
    gap: .75rem;
    padding: 0 .5rem;
}

.explorer-pathstrip-action::before {
    width: 1.25rem;
    height: 1.25rem;
    content: '';
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.explorer-pathstrip-action:hover {
    background: rgb(236, 236, 236);
}

.explorer-pathstrip-action.back::before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWFycm93LWxlZnQiPjxwYXRoIGQ9Im0xMiAxOS03LTcgNy03Ii8+PHBhdGggZD0iTTE5IDEySDUiLz48L3N2Zz4=);
}

.explorer-pathstrip-action.next::before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWFycm93LXJpZ2h0Ij48cGF0aCBkPSJNNSAxMmgxNCIvPjxwYXRoIGQ9Im0xMiA1IDcgNy03IDciLz48L3N2Zz4=);
}

.explorer-pathstrip-action.up::before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWFycm93LXVwIj48cGF0aCBkPSJtNSAxMiA3LTcgNyA3Ii8+PHBhdGggZD0iTTEyIDE5VjUiLz48L3N2Zz4=);
}

.explorer-pathstrip-action.refresh::before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXJvdGF0ZS1jdyI+PHBhdGggZD0iTTIxIDEyYTkgOSAwIDEgMS05LTljMi41MiAwIDQuOTMgMSA2Ljc0IDIuNzRMMjEgOCIvPjxwYXRoIGQ9Ik0yMSAzdjVoLTUiLz48L3N2Zz4=);
    width: 1.125rem;
    height: 1.125rem;
}

.explorer-pathstrip-path {
    background: rgb(233, 233, 233);
    width: -webkit-fill-available;
    height: 2rem;
    border-radius: .375rem;
    display: flex;
    align-items: center;
    padding: 0 .75rem;
    overflow: hidden;
}

.explorer-pathstrip-path-text {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.explorer-pathstrip-search {
    background: rgb(233, 233, 233);
    min-width: 12rem;
    border-radius: .375rem;
    border: 0;
    padding: .5rem .75rem;
    outline: 0;
}

.explorer-actionbar {
    height: 3rem;
    min-height: 3rem;
    width: 100%;
    border-bottom: 1.5px solid var(--border-color);
    display: flex;
    align-items: center;
    padding: .375rem;
    gap: .375rem;
}

.explorer-actionbar-button {
    background: none;
    border: none;
    width: 2.25rem;
    height: 2.25rem;
    min-width: 2.25rem;
    min-height: 2.25rem;
    border-radius: .375rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.explorer-actionbar-button:disabled,
.explorer-actionbar-button.disabled {
    opacity: .5;
    pointer-events: none;
}

.explorer-actionbar-button:hover {
    background: rgb(244 244 244);
}

.explorer-actionbar-button-icon {
    width: 1.25rem;
    height: 1.25rem;
    min-width: 1.25rem;
    min-height: 1.25rem;
    fill: var(--secondary-color);
}

svg {
    --primary-color: #1885d8;
    --secondary-color: #555555;
    --bg-color: #fff;
    fill: var(--secondary-color);
}

.explorer-content {
    display: flex;
    height: -webkit-fill-available;
    overflow: hidden;
}

.explorer-sidebar {
    width: 14rem;
    min-width: 14rem;
    border-right: 1.5px solid var(--border-color);
    padding: .5rem .5rem;
    overflow: auto;
}

.explorer-sidebar-group {}

.explorer-sidebar-group+.explorer-sidebar-group::before {
    content: '';
    margin: .5rem 0;
    width: calc(100% - 1rem);
    display: block;
    transform: translate(-50%, -50%);
    height: 1.25px;
    background: var(--border-color);
    left: 50%;
    position: relative;
}

.explorer-sidebar-item {
    display: flex;
    align-items: center;
    gap: .375rem;
    padding: .375rem 1rem;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
    cursor: default;
}

.explorer-sidebar-item.active {
    background: rgba(192, 192, 192, .3);
}

.explorer-sidebar-item:hover {
    background: rgba(110, 220, 252, .3);
}

.explorer-pathstrip-action:disabled,
.explorer-pathstrip-action.disabled {
    opacity: .5;
    pointer-events: none;
}

.explorer-sidebar-item-icon {
    width: 1rem;
    height: 1rem;
    min-width: 1rem;
    min-height: 1rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.explorer-sidebar-item-header {
    font-size: .875rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    -webkit-user-select: none;
}