.window * {
    transition: all .1s ease-in-out;
}

.window-toolbar {
    /* backdrop-filter: blur(180px) saturate(4); */
    background: transparent;
    z-index: 9999;
}

.window-content {
    overflow: hidden;
    -webkit-user-drag: none;
    flex-direction: column;
    display: flex;
    background: transparent;
}

.tabview {
    display: block;
    overflow: hidden;
    -webkit-user-drag: none;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.tabview-item {
    display: none;
    overflow: hidden;
    -webkit-user-drag: none;
    flex-direction: column;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background: transparent;
}

.tabview-item.active {
    display: flex;
}

.window {
    --border-color: rgb(0, 0, 0, .1);
    --label-color: rgb(132, 132, 132);
    backdrop-filter: blur(180px) saturate(4);
    background: rgb(227 227 227 / 88%);
}

.explorer-viewer-container {
    overflow: auto;
    max-height: -webkit-fill-available;
    width: -webkit-fill-available;
    position: relative;
}

.explorer-viewer {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    padding: 1rem;
    opacity: 0;
    transform: translateY(1rem);
    overflow: auto;
    height: -webkit-fill-available;
    flex-direction: row;
    align-content: flex-start;
}

.explorer-viewer[data-direction="horizontal"] {
    opacity: 0;
    transform: translateX(-1rem);
}

.explorer-viewer.animation {
    opacity: 1;
    transform: translateY(0);
    animation: show-viewer 200ms ease-in-out 1 forwards;
}

.explorer-viewer[data-direction="horizontal"] {
    opacity: 1;
    transform: translateX(0);
    animation: show-viewer-horizontal 200ms ease-in-out 1 forwards;
}

.explorer-viewer * {
    transition: all .1s ease-in-out;
}

.explorer-viewer-item {
    width: 6rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    /* max-height: 8rem; */
    overflow: hidden;
    padding: .5rem;
    cursor: default;
    border-radius: .5rem;
    user-select: none;
    -webkit-user-select: none;
    gap: .25rem;
}

.explorer-viewer-item:hover {
    background: rgba(0, 0, 0, .04);
    box-shadow: 0 0 0px 1.5px rgba(0, 0, 0, .1);
}

.explorer-viewer-item.active {
    background: rgba(0, 0, 0, .05);
    box-shadow: 0 0 0px 1.5px rgba(0, 0, 0, .1);
}

.explorer-viewer-item-icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 4rem;
    height: 4rem;
    min-height: 4rem;
    min-width: 4rem;
    position: relative;
}

.explorer-viewer-item-icon.shortcut::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1.25rem;
    height: 1.25rem;
    min-width: 1.25rem;
    min-height: 1.25rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: var(--shortcut-icon);
}

.explorer-viewer-item-name {
    width: 90%;
    max-width: 90%;
    text-align: center;
    overflow: hidden;
    max-height: 4rem;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    display: box;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    box-sizing: border-box;
    word-break: break-word;
    font-size: .875rem;
}

@keyframes show-viewer {
    0% {
        opacity: 0;
        transform: translateY(1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes show-viewer-horizontal {
    0% {
        opacity: 0;
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes show-tab {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.explorer-tabstrip {
    width: -webkit-fill-available;
    height: fit-content;
    max-height: fit-content;
    min-height: fit-content;
    padding: .375rem;
    padding-right: 2.5rem;
    padding-bottom: 0;
    opacity: 0;
    transform: translateY(1rem);
    animation: show-tab 200ms ease-in-out 1 forwards;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.explorer-tabstrip-tabs {
    height: -webkit-fill-available;
    max-width: calc(100% - 2.875rem);
    display: flex;
    gap: .5rem;
    overflow: visible;
}

.explorer-tabstrip-tab {
    --radius: .375rem;
    --bg: rgba(0, 0, 0, 0);
    position: relative;
    width: 15rem;
    height: 2.125rem;
    background: none;
    border-radius: var(--radius) var(--radius) 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .5rem;
    gap: .25rem;
    flex: 1;
    min-width: 0;
    max-width: -webkit-fill-available;
}

.explorer-tabstrip-tab.active {
    --bg: rgb(253 253 253 / 67%);
    z-index: 9;
}

.explorer-tabstrip-tab:not(.active):hover {
    --bg: rgb(255 255 255 / 50%);
    background: var(--bg);
}

.explorer-tabstrip-tab:not(.active) {
    /* height: 1.75rem; */
    /* border-radius: var(--radius); */
}

.explorer-tabstrip-tab:not(.active, :hover)+.explorer-tabstrip-tab:not(.active, :hover)::before {
    content: '';
    position: absolute;
    left: 0;
    width: 1.25px;
    height: calc(100% - .75rem);
    background: var(--border-color);
    transform: translateX(-.25rem);
    pointer-events: none;
}

.explorer-tabstrip-tab:last-child:not(.active, :hover)::after {
    content: '';
    position: absolute;
    right: 0;
    width: 1.25px;
    height: calc(100% - .75rem);
    background: var(--border-color);
    transform: translateX(.25rem);
    pointer-events: none;
}

.explorer-tabstrip-tab.active::before,
.explorer-tabstrip-tab.active::after,
.explorer-tabstrip-tab:hover::before,
.explorer-tabstrip-tab:hover::after {
    position: absolute;
    width: var(--radius);
    height: var(--radius);
    background: var(--bg);
    content: '';
    bottom: 0;
}

.explorer-tabstrip-tab.dragging {
    --bg: rgb(255, 255, 255);
    border-radius: var(--radius);
    z-index: 99999;
    box-shadow: 0px 1px 8px 4px rgba(0, 0, 0, .1);
}

.explorer-tabstrip-tab.dragging::before,
.explorer-tabstrip-tab.dragging::after {
    display: none;
}

.explorer-tabstrip-tab.active {
    background-color: var(--bg);
    overflow: visible;
}

.explorer-tabstrip-tab.active::after,
.explorer-tabstrip-tab:hover::after {
    transform: translateX(100%);
    right: 0;
    background: radial-gradient(at 100% 0%, transparent var(--radius), var(--bg) 0);
}

.explorer-tabstrip-tab.active::before,
.explorer-tabstrip-tab:hover::before {
    transform: translateX(-100%);
    left: 0;
    background: radial-gradient(at 0% 0%, transparent var(--radius), var(--bg) 0);
}

.explorer-tabstrip-tab-info {
    display: flex;
    gap: .5rem;
    padding-bottom: .125rem;
    overflow: hidden;
    max-width: -webkit-fill-available;
}

.explorer-tabstrip-tab-icon {
    width: 1.25rem;
    height: 1.25rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 1.25rem;
    min-height: 1.25rem;
}

.explorer-tabstrip-tab-header {
    font-size: .875rem;
    height: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.explorer-tabstrip-tab-close {
    padding: .25rem .375rem;
    border-radius: .25rem;
}

.explorer-tabstrip-tab-close:hover {
    background: rgb(185 185 185 / 40%);
}

.explorer-tabstrip-tab.active .explorer-tabstrip-tab-close:hover {
    background: rgb(0 0 0 / 8%);
}

.explorer-tabstrip-tab-close::before {
    content: '';
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXgiPjxwYXRoIGQ9Ik0xOCA2IDYgMTgiLz48cGF0aCBkPSJtNiA2IDEyIDEyIi8+PC9zdmc+);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    width: .875rem;
    height: .875rem;
}

.explorer-tabstrip-create {
    padding: .75rem .5rem;
    overflow: hidden;
    display: block;
    height: 2.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2.875rem;
    /* flex: 1; */
}

.explorer-tabstrip-create-button {
    height: 1.425rem;
    width: 1.875rem;
    border: 0;
    border-radius: .25rem;
    background: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.explorer-tabstrip-create-button:hover {
    background: rgba(255, 255, 255, .5);
}

.explorer-tabstrip-create-button::before {
    content: '';
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgY2xhc3M9Imx1Y2lkZSBsdWNpZGUtcGx1cyI+PHBhdGggZD0iTTUgMTJoMTQiLz48cGF0aCBkPSJNMTIgNXYxNCIvPjwvc3ZnPg==);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: .925rem;
    height: .925rem;
    display: block;
}

.explorer-pathstrip {
    background: rgb(253 253 253 / 67%);
    height: 3rem;
    min-height: 3rem;
    width: 100%;
    border-bottom: 1.5px solid var(--border-color);
    padding: .5rem;
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.explorer-pathstrip-action {
    width: 2rem;
    height: 2rem;
    min-width: 1.5rem;
    min-height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .375rem;
    border: 0;
    background: none;
    -webkit-user-drag: none;
}

.explorer-pathstrip-actions {
    display: flex;
    height: -webkit-fill-available;
    align-items: center;
    gap: .75rem;
    padding: 0 .5rem;
}

.explorer-pathstrip-action::before {
    width: 1.25rem;
    height: 1.25rem;
    content: '';
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.explorer-pathstrip-action:hover {
    background: rgb(0 0 0 / 8%);
}

.explorer-pathstrip-action.back::before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWFycm93LWxlZnQiPjxwYXRoIGQ9Im0xMiAxOS03LTcgNy03Ii8+PHBhdGggZD0iTTE5IDEySDUiLz48L3N2Zz4=);
}

.explorer-pathstrip-action.next::before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWFycm93LXJpZ2h0Ij48cGF0aCBkPSJNNSAxMmgxNCIvPjxwYXRoIGQ9Im0xMiA1IDcgNy03IDciLz48L3N2Zz4=);
}

.explorer-pathstrip-action.up::before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLWFycm93LXVwIj48cGF0aCBkPSJtNSAxMiA3LTcgNyA3Ii8+PHBhdGggZD0iTTEyIDE5VjUiLz48L3N2Zz4=);
}

.explorer-pathstrip-action.refresh::before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIxIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXJvdGF0ZS1jdyI+PHBhdGggZD0iTTIxIDEyYTkgOSAwIDEgMS05LTljMi41MiAwIDQuOTMgMSA2Ljc0IDIuNzRMMjEgOCIvPjxwYXRoIGQ9Ik0yMSAzdjVoLTUiLz48L3N2Zz4=);
    width: 1.125rem;
    height: 1.125rem;
}

.explorer-pathstrip-path {
    background: rgb(255 255 255);
    width: -webkit-fill-available;
    height: 2rem;
    border-radius: .375rem;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    overflow: hidden;
}

.explorer-pathstrip-path-text {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.explorer-pathstrip-search {
    background: rgb(255 255 255);
    min-width: 12rem;
    border-radius: .375rem;
    border: 0;
    padding: .5rem .75rem;
    outline: 0;
}

.explorer-actionbar {
    height: 3rem;
    min-height: 3rem;
    width: 100%;
    border-bottom: 1.5px solid var(--border-color);
    display: flex;
    align-items: center;
    padding: .375rem;
    gap: .375rem;
    background: #fff;
}

.explorer-actionbar-group {
    display: flex;
    align-items: center;
    gap: .375rem;
    height: -webkit-fill-available;
}

.explorer-actionbar-group+.explorer-actionbar-group::before {
    content: '';
    height: 100%;
    width: 1.25px;
    background: rgba(0, 0, 0, .1);
    display: block;
}

.explorer-actionbar-button {
    background: none;
    border: none;
    width: 2.25rem;
    height: 2.25rem;
    min-width: 2.25rem;
    min-height: 2.25rem;
    border-radius: .375rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.explorer-actionbar-button:disabled,
.explorer-actionbar-button.disabled {
    opacity: .5;
    pointer-events: none;
}

.explorer-actionbar-button:hover {
    background: rgb(244 244 244);
}

.explorer-actionbar-button-icon {
    width: 1.25rem;
    height: 1.25rem;
    min-width: 1.25rem;
    min-height: 1.25rem;
    fill: var(--secondary-color);
}

svg {
    --primary-color: #1885d8;
    --secondary-color: #555555;
    --bg-color: #fff;
    fill: var(--secondary-color);
}

.explorer-content {
    display: flex;
    height: -webkit-fill-available;
    overflow: hidden;
    background: #fff;
}

.explorer-sidebar {
    width: 14rem;
    min-width: 14rem;
    border-right: 1.5px solid var(--border-color);
    padding: .5rem .5rem;
    overflow: auto;
}

.explorer-sidebar-group {}

.explorer-sidebar-group+.explorer-sidebar-group::before {
    content: '';
    margin: .5rem 0;
    width: calc(100% - 1rem);
    display: block;
    transform: translate(-50%, -50%);
    height: 1.25px;
    background: var(--border-color);
    left: 50%;
    position: relative;
}

.explorer-sidebar-item {
    display: flex;
    align-items: center;
    gap: .375rem;
    padding: .375rem 1rem;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
    cursor: default;
}

.explorer-sidebar-item.active {
    background: rgba(192, 192, 192, .3);
}

.explorer-sidebar-item:hover {
    background: rgba(110, 220, 252, .3);
}

.explorer-pathstrip-action:disabled,
.explorer-pathstrip-action.disabled {
    opacity: .5;
    pointer-events: none;
}

.explorer-sidebar-item-icon {
    width: 1rem;
    height: 1rem;
    min-width: 1rem;
    min-height: 1rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.explorer-sidebar-item-header {
    font-size: .875rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    -webkit-user-select: none;
}

.explorer-viewer-disk-item {
    display: flex;
    width: 18rem;
    padding: .5rem 1rem .5rem .75rem;
    gap: .5rem;
    font-size: .825rem;
    border-radius: .375rem;
    transition: all .1s ease-in-out;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    height: fit-content;
}

.explorer-viewer-disk-item:hover {
    background: rgb(244 244 244);
}

.explorer-viewer-disk-icon {
    width: 3rem;
    height: 3rem;
    min-width: 3rem;
    min-height: 3rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: auto;
}

.explorer-viewer-disk-info {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    gap: .125rem;
}

.explorer-viewer-disk-name {
    font-size: 1rem;
}

.explorer-viewer-disk-total-bar {
    position: relative;
    width: -webkit-fill-available;
    height: 1.125rem;
    background: #ccc;
}

.explorer-viewer-disk-used-bar {
    position: absolute;
    width: 0;
    background: #2da8e8;
    height: -webkit-fill-available;
}

.explorer-viewer-disk-used-text {
    font-size: .76rem;
}

.explorer-pathstrip-path-protocol {
    font-family: var(--winbows-font-icon);
}

.explorer-pathstrip-path-protocol[data-protocol="this_pc"]::before {
    content: '\e7f4';
}

.explorer-footer {
    min-height: 1.625rem;
    height: 1.625rem;
    width: -webkit-fill-available;
    border-top: 1.5px solid var(--border-color);
    display: flex;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    justify-content: space-between;
    background: #fff;
}

.explorer-footer-left {
    height: -webkit-fill-available;
    padding: 0 .75rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: .5rem;
}

.explorer-footer-page-items {
    font-size: .825rem;
    line-height: 1;
}

.explorer-footer-page-size {
    font-size: .825rem;
    line-height: 1;
}

.explorer-footer-selected-items {}

.explorer-footer-right {}