.devtool-tabview {
    width: inherit;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--winbows-font-default);
}

.devtool-tabview-tabs-container {
    border-bottom: 1px solid #484848;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    white-space: nowrap;
    transition: mask-image .1s ease-in-out;
}

.devtool-tabview-tabs-container::-webkit-scrollbar-thumb,
.devtool-tabview-tabs-container::-webkit-scrollbar-track,
.devtool-tabview-tabs-container::-webkit-scrollbar {
    display: none;
}

.devtool-tabview-tabs {
    height: inherit;
}

.devtool-tabview-tab {
    display: inline-flex;
    height: inherit;
    align-items: center;
    justify-content: center;
    padding: 0 .75rem;
}

.devtool-tabview-tab:hover {
    background: rgba(255, 255, 255, .1);
}

.devtool-tabview-tab.selected {
    color: #a7cbff;
}

.devtool-tabview-slider {
    position: absolute;
    height: 2px;
    bottom: 0;
    overflow: hidden;
    transition: all .1s ease-in-out;
}

.devtool-tabview-slider::before {
    content: '';
    display: block;
    position: absolute;
    width: inherit;
    height: 4px;
    background: #a7cbff;
    transform: translateY(2px);
    border-radius: 2px;
    bottom: 0;
}

.devtool-tabview-item-container {
    height: -webkit-fill-available;
}

.devtool-tabview-item {
    display: none;
    width: 100%;
    height: 100%;
}

.devtool-tabview-item.active {
    display: block;
}