.devtool-tasks {
    padding: 1rem;
    overflow: auto;
    height: 100%;
}

.devtool-tasks table {
    border: 1px solid #484848;
    border-spacing: 0;
    table-layout: fixed;
}

.devtool-tasks tbody tr:nth-child(2n) {
    background: #212121;
}

.devtool-tasks tbody tr:nth-child(2n-1) {
    background: #161616;
}

.devtool-tasks td,
.devtool-tasks th {
    text-align: left;
    padding: .25rem .5rem;
}

.devtool-tasks th {
    font-weight: normal;
}

.devtool-tasks td+td,
.devtool-tasks th+th {
    border-left: 1px solid #484848;
}