.window {
    border-radius: .5rem;
    overflow: hidden;
    position: relative;
}

.window.dark .window-content {
    background: #131313;
}

.window.dark svg {
    color: #efefef;
}

.window-toolbar {
    background: transparent !important;
    position: absolute;
    pointer-events: all;
    z-index: 9;
    overflow: hidden;
}

.window-content {
    /* position: absolute; */
    height: 100%;
}

.controls-container {
    position: fixed;
    bottom: 0rem;
    left: 0;
    right: 0;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 9;
}

.controls {
    background: #ffffff;
    box-shadow: 0px 2px 16px 4px rgba(0, 0, 0, .1);
    border-radius: 1rem;
    padding: .5rem;
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .375rem;
    pointer-events: all;
}

.dark .controls {
    background: #1e1e1e;
    box-shadow: 0px 2px 16px 4px rgba(0, 0, 0, .05);
}

.controls,
.controls * {
    transition: all .1s ease-in-out;
}

.controls-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .375rem;
}

.control {
    width: 2.25rem;
    height: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: .5rem;
    border: 0;
    outline: 0;
    background: none;
}

.control:disabled {
    opacity: .8;
    pointer-events: none;
}

.dark .control:disabled svg {
    color: #aaa;
}

.control:hover {
    background: rgb(242, 242, 242);
}

.dark .control:hover {
    background: rgba(255,255,255,.08);
}

.control.active {
    background: rgb(229, 229, 229);
}

.dark .control.active {
    background: rgba(255, 255, 255, .13);
}

.control-icon {
    width: 1.125rem;
    height: 1.125rem;
}