* {
    box-sizing: border-box;
    font-family: var(--winbows-font-default);
}

.window {
    width: 800px;
    height: 600px;
    /* background: #fff; */
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, .1);
    font-family: var(--winbows-font-default);
    color: #000;
    --tabview-tab-separator-color: rgba(0, 0, 0, .1);
    --tabview-tab-background-hover:
}

.window-toolbar,
.window-toolbar * {
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    transition: all .1s ease-in-out;
}

.window-toolbar {
    width: -webkit-fill-available;
    background: rgb(235 235 235);
    min-height: fit-content;
    max-height: fit-content;
    display: flex;
    pointer-events: auto;
}

.window-toolbar-info {
    display: flex;
    align-items: center;
    padding: 0 .5rem 0;
    gap: .5rem;
    overflow: hidden;
    width: -webkit-fill-available;
}

.window-toolbar-icon {
    min-width: 1.25rem;
    width: 1.25rem;
    height: 1.25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.window-content {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background: #fff;
    overflow: hidden;
}

.window-toolbar-title {
    font-weight: 100;
    font-size: 0.875rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.window-toolbar-buttons {
    display: flex;
    margin-left: auto;
    height: 2rem;
}

.window-toolbar-button {
    width: 3rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.window-toolbar-button:hover {
    background: rgba(136, 136, 136, .2);
}

.window-toolbar-button.close:hover {
    background: rgb(255 0 0);
}

.window-toolbar-button.close:hover .window-toolbar-button-icon {
    filter: invert(1);
}

.window-toolbar-button-icon {
    width: .875rem;
    height: .875rem;
    min-width: .875rem;
    min-height: .875rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.winui ::-webkit-scrollbar,
.winui-light ::-webkit-scrollbar,
[data-theme="dark"] .winui ::-webkit-scrollbar,
.winui-dark ::-webkit-scrollbar {
    width: 14px;
    height: 14px;
    border-radius: 7px
}

.winui ::-webkit-scrollbar,
.winui-light ::-webkit-scrollbar {
    --scroll: rgb(255 255 255 / 80%);
    --scrollbar-top-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.102 16.981c-1.074 0-1.648-1.265-.941-2.073l5.522-6.311a1.75 1.75 0 0 1 2.634 0l5.522 6.311c.707.808.133 2.073-.941 2.073H6.102z' fill='rgb(0 0 0 / 50%)'/%3E%3C/svg%3E");
    --scrollbar-right-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 17.898c0 1.074 1.265 1.648 2.073.941l6.311-5.522a1.75 1.75 0 0 0 0-2.634l-6.311-5.522C10.265 4.454 9 5.028 9 6.102v11.796z' fill='rgb(0 0 0 / 50%)'/%3E%3C/svg%3E");
    --scrollbar-bottom-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.102 8c-1.074 0-1.648 1.265-.941 2.073l5.522 6.311a1.75 1.75 0 0 0 2.634 0l5.522-6.311c.707-.808.133-2.073-.941-2.073H6.102z' fill='rgb(0 0 0 / 50%)'/%3E%3C/svg%3E");
    --scrollbar-left-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M15 17.898c0 1.074-1.265 1.648-2.073.941l-6.311-5.522a1.75 1.75 0 0 1 0-2.634l6.311-5.522c.808-.707 2.073-.133 2.073.941v11.796z' fill='rgb(0 0 0 / 50%)'/%3E%3C/svg%3E");
}

[data-theme="dark"] .winui ::-webkit-scrollbar,
.winui-dark ::-webkit-scrollbar {
    --scroll: rgb(44 44 44 / 25%);
    --scroll: rgb(255 255 255 / 80%);
    --scrollbar-top-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.102 16.981c-1.074 0-1.648-1.265-.941-2.073l5.522-6.311a1.75 1.75 0 0 1 2.634 0l5.522 6.311c.707.808.133 2.073-.941 2.073H6.102z' fill='rgb(255 255 255 / 50%)'/%3E%3C/svg%3E");
    --scrollbar-right-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9 17.898c0 1.074 1.265 1.648 2.073.941l6.311-5.522a1.75 1.75 0 0 0 0-2.634l-6.311-5.522C10.265 4.454 9 5.028 9 6.102v11.796z' fill='rgb(255 255 255 / 50%)'/%3E%3C/svg%3E");
    --scrollbar-bottom-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M6.102 8c-1.074 0-1.648 1.265-.941 2.073l5.522 6.311a1.75 1.75 0 0 0 2.634 0l5.522-6.311c.707-.808.133-2.073-.941-2.073H6.102z' fill='rgb(255 255 255 / 50%)'/%3E%3C/svg%3E");
    --scrollbar-left-btn: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M15 17.898c0 1.074-1.265 1.648-2.073.941l-6.311-5.522a1.75 1.75 0 0 1 0-2.634l6.311-5.522c.808-.707 2.073-.133 2.073.941v11.796z' fill='rgb(255 255 255 / 50%)'/%3E%3C/svg%3E")
}

.winui ::-webkit-scrollbar:vertical:hover,
.winui-light ::-webkit-scrollbar:vertical:hover,
.winui-dark ::-webkit-scrollbar:vertical:hover {
    background: var(--scrollbar-bottom-btn) 0% calc(100% - 3px)/contain no-repeat, var(--scrollbar-top-btn) 0% calc(0% + 3px)/contain no-repeat, var(--scroll);
}

.winui ::-webkit-scrollbar:horizontal:hover,
.winui-light ::-webkit-scrollbar:horizontal:hover,
.winui-dark ::-webkit-scrollbar:horizontal:hover {
    background: var(--scrollbar-right-btn) calc(100% - 3px) 0%/contain no-repeat, var(--scrollbar-left-btn) calc(0% + 3px) 0%/contain no-repeat, var(--scroll);
}

.winui-no-background ::-webkit-scrollbar:vertical:hover {
    background: var(--scrollbar-bottom-btn) 0% calc(100% - 3px)/contain no-repeat, var(--scrollbar-top-btn) 0% calc(0% + 3px)/contain no-repeat, transparent;
}

.winui-no-background ::-webkit-scrollbar:horizontal:hover {
    background: var(--scrollbar-right-btn) calc(100% - 3px) 0%/contain no-repeat, var(--scrollbar-left-btn) calc(0% + 3px) 0%/contain no-repeat, transparent;
}

.winui ::-webkit-scrollbar-thumb,
.winui-light ::-webkit-scrollbar-thumb {
    display: none;
    display: block;
    background: rgba(0, 0, 0, .5);
    background-clip: padding-box;
    border: 6px solid transparent;
    border-radius: 14px
}

[data-theme=dark] .winui ::-webkit-scrollbar-thumb,
.winui-dark ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .5);
    background-clip: padding-box;
    border: 6px solid transparent;
    border-radius: 14px
}

.winui ::-webkit-scrollbar-thumb:hover,
.winui-dark ::-webkit-scrollbar-thumb:hover,
.winui-light ::-webkit-scrollbar-thumb:hover {
    border: 4px solid transparent;
    background-clip: padding-box;
    border-radius: 14px
}

.winui ::-webkit-scrollbar-button:single-button,
.winui-dark ::-webkit-scrollbar-button:single-button,
.winui-light ::-webkit-scrollbar-button:single-button {
    height: 14px;
}

.winui :hover::-webkit-scrollbar-thumb,
.winui-dark :hover::-webkit-scrollbar-thumb,
.winui-light :hover::-webkit-scrollbar-thumb {
    display: block;
}

.tabview {
    display: block;
    /* overflow: hidden; */
    -webkit-user-drag: none;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.tabview-item {
    display: none;
    /* overflow: hidden; */
    -webkit-user-drag: none;
    flex-direction: column;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    background: #fff;
}

.tabview-item.active {
    display: flex;
}


@keyframes show-tab {
    0% {
        transform: translateY(1rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.tabview-tabstrip {
    width: -webkit-fill-available;
    height: fit-content;
    min-height: fit-content;
    padding: .375rem;
    padding-right: 2.5rem;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

.tabview-tabstrip-tabs {
    /* height: -webkit-fill-available; */
    max-width: calc(100% - 2.875rem);
    display: flex;
    gap: .5rem;
    overflow: visible;
}

.tabview-tabstrip-tab {
    --radius: .375rem;
    --bg: rgba(0, 0, 0, 0);
    position: relative;
    width: 15rem;
    height: 2.125rem;
    background: none;
    border-radius: var(--radius) var(--radius) 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 .5rem;
    gap: .25rem;
    flex: 1;
    min-width: 0;
    max-width: -webkit-fill-available;
    /*
    opacity: 0;
    transform: translateY(1rem);
    animation: show-tab 200ms ease-in-out 1 forwards;
    */
}

.tabview-tabstrip-tab.active {
    --bg: rgb(255, 255, 255);
    z-index: 9;
}

.tabview-tabstrip-tab:not(.active):hover {
    --bg: rgb(255 255 255 / 50%);
    background: var(--bg);
}

.tabview-tabstrip-tab:not(.active) {
    /* height: 1.75rem; */
    /* border-radius: var(--radius); */
}

.tabview-tabstrip-tab:not(.active, :hover)+.tabview-tabstrip-tab:not(.active, :hover)::before {
    content: '';
    position: absolute;
    left: 0;
    width: 1.25px;
    height: calc(100% - .75rem);
    background: rgba(0, 0, 0, .1);
    transform: translateX(-.25rem);
    pointer-events: none;
}

.tabview-tabstrip-tab:last-child:not(.active, :hover)::after {
    content: '';
    position: absolute;
    right: 0;
    width: 1.25px;
    height: calc(100% - .75rem);
    background: rgba(0, 0, 0, .1);
    transform: translateX(.25rem);
    pointer-events: none;
}

.tabview-tabstrip-tab.active::before,
.tabview-tabstrip-tab.active::after,
.tabview-tabstrip-tab:hover::before,
.tabview-tabstrip-tab:hover::after {
    position: absolute;
    width: var(--radius);
    height: var(--radius);
    background: var(--bg);
    content: '';
    bottom: 0;
}

.tabview-tabstrip-tab.active {
    background-color: var(--bg);
    overflow: visible;
}

.tabview-tabstrip-tab.active::after,
.tabview-tabstrip-tab:hover::after {
    transform: translateX(100%);
    right: 0;
    background: radial-gradient(at 100% 0%, transparent var(--radius), var(--bg) 0);
}

.tabview-tabstrip-tab.active::before,
.tabview-tabstrip-tab:hover::before {
    transform: translateX(-100%);
    left: 0;
    background: radial-gradient(at 0% 0%, transparent var(--radius), var(--bg) 0);
}

.tabview-tabstrip-tab-info {
    display: flex;
    gap: .25rem;
    padding-bottom: .125rem;
    overflow: hidden;
    max-width: -webkit-fill-available;
}

.tabview-tabstrip-tab-icon {
    width: 1.25rem;
    height: 1.25rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 1.25rem;
    min-height: 1.25rem;
}

.tabview-tabstrip-tab-header {
    font-size: .875rem;
    height: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 .25rem;
}

.tabview-tabstrip-tab-close {
    padding: .25rem .375rem;
    border-radius: .25rem;
}

.tabview-tabstrip-tab-close:hover {
    background: rgb(185 185 185 / 40%);
}

.tabview-tabstrip-tab.active .tabview-tabstrip-tab-close:hover {
    background: rgb(233, 233, 233);
}

.tabview-tabstrip-tab-close::before {
    content: '';
    mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJsdWNpZGUgbHVjaWRlLXgiPjxwYXRoIGQ9Ik0xOCA2IDYgMTgiLz48cGF0aCBkPSJtNiA2IDEyIDEyIi8+PC9zdmc+);
    mask-size: cover;
    mask-position: center;
    mask-repeat: no-repeat;
    display: block;
    width: .875rem;
    height: .875rem;
    background: #000;
}

.tabview-tabstrip-create {
    padding: .75rem .5rem;
    overflow: hidden;
    display: block;
    height: 2.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2.875rem;
    /* flex: 1; */
}

.tabview-tabstrip-create-button {
    height: 1.425rem;
    width: 1.875rem;
    border: 0;
    border-radius: .25rem;
    background: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabview-tabstrip-create-button:hover {
    background: rgba(255, 255, 255, .5);
}

.tabview-tabstrip-create-button::before {
    content: '';
    mask-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgY2xhc3M9Imx1Y2lkZSBsdWNpZGUtcGx1cyI+PHBhdGggZD0iTTUgMTJoMTQiLz48cGF0aCBkPSJNMTIgNXYxNCIvPjwvc3ZnPg==);
    mask-size: cover;
    mask-position: center;
    mask-repeat: no-repeat;
    width: .925rem;
    height: .925rem;
    display: block;
    background: #000;
}

.mica-canvas {
    z-index: -1;
    display: block;
    position: absolute;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

[data-theme="dark"] {
    color: #efefef;
}

[data-theme="dark"] .window-toolbar {
    background: rgb(36, 36, 36);
}

[data-theme="dark"] .window-toolbar-button-icon {
    filter: invert(1);
}

[data-theme="dark"] .window-content {
    background: rgb(30, 30, 30);
}

[data-theme="dark"] .tabview-tabstrip-tab-close::before,
[data-theme="dark"] .tabview-tabstrip-create-button::before {
    background: #fff;
}

[data-theme="dark"] .tabview-tabstrip-create-button:hover,
[data-theme="dark"] .tabview-tabstrip-tab.active .tabview-tabstrip-tab-close:hover,
[data-theme="dark"] .tabview-tabstrip-tab-close:hover {
    background: rgba(255, 255, 255, .1);
}

[data-theme="dark"] .tabview-tabstrip-tab:not(.active):hover {
    --bg: rgb(255, 255, 255, .1);
}