.window-toolbar,
.window-content {
    background: rgb(24,24,24);
    color: #fff;
}

.window-content {
    border-top: 1px solid rgba(255,255,255,.1);
}

.window-toolbar-button-icon {
    filter: invert(1);
}